asgiref==3.11.0
Django==6.0.1
joblib==1.5.3
numpy==2.4.0
pandas==2.3.3
pandas-stubs==2.3.3.260113
pillow==12.1.0
python-dateutil==2.9.0.post0
pytz==2025.2
scikit-learn==1.8.0
scipy==1.16.3
six==1.17.0
sqlparse==0.5.5
threadpoolctl==3.6.0
types-pytz==2025.2.0.20251108
tzdata==2025.3
whitenoise==6.6.0
dj-database-url==2.3.0
psycopg2-binary==2.9.9
gunicorn==20.1.0